<html>
<head>
<title>Handsraised - Create Session</title>
</head>
<body>
<h1>Create Session</h1>
<form action="/create_session" method="POST">
	<table>
	<tr>
	<td><label for"session_name">Session Name:</label></td><td><input type="text" name="session_name"></td>
	</tr>
	<tr>
	<td><label for"room_number">Room Number:</label></td><td><input type="text" name="room_number"><br></td>
	</tr>
	<tr>
	<td><label for"password">Password:</label></td><td><input type="password" name="password"><br></td>
	</tr>
	<tr>
	<td><button type="submit">Submit</button></td>
	</tr>
	</table>
</form>

</body>
</html>