<html>
<head>
	<!--<meta http-equiv="refresh" content="10" />-->
<title>Handsraised</title>
</head>
<body>
<div name="handraised"></div>
<form action="/raise_hand" method="POST">
<button type="submit">Raise your hand.</button>
</form>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCGGC40bPahH8_7UNu67wJrDP_LCOl6tyw",
    authDomain: "handsraised-499a2.firebaseapp.com",
    databaseURL: "https://handsraised-499a2.firebaseio.com",
    projectId: "handsraised-499a2",
    storageBucket: "",
    messagingSenderId: "591316765517"
  };
  firebase.initializeApp(config);
</script>
</body>
</html>