<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="refresh" content="10" /> 
<title>Handsraised</title>
</head>
<body>
<% var raised %>
<% if(data.hand!=null){ raised = data.hand.raised } else { raised = 'false'} %> 
<div name="handraised"><%= raised %></div>
<form action="/raise_hand" method="POST">
<input type="hidden" name="student_name" value="<%= data.student_name %>">
<input type="hidden" name="session_key" value="<%= data.session_key %>">
<button type="submit">Raise your hand.</button>
</form>
</body>
</html>