<html>
<head>
	<!--<meta http-equiv="refresh" content="10" />-->
<title>Handsraised</title>
</head>
<body>
<div name="handraised"></div>
<form action="/raise_hand" method="POST">
<input type="hidden" name="student_name" value=""><input type="hidden" name="session_key" value="">
<button type="submit">Raise your hand.</button>
</form>
</body>
</html>