<html>
	<head>
	<meta http-equiv="refresh" content="10" />
	<title>
	Session
	</title>
	</head>
	<body>
	<h1>Session <div name="session_name"></div></h1><br><br><br>
	<div name="students">
		<table name="student_table">
		<tr><td name="student_number">1</td><td name="student_name">Alexander Hamilton</td><td><button type="submit" name="1">Answer</button></td></tr>
		<tr><td name="student_number">2</td><td name="student_name">Bill S Preston</td><td><button type="submit" name="2">Answer</button></td></tr>
		</table
	</div>
	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCGGC40bPahH8_7UNu67wJrDP_LCOl6tyw",
    authDomain: "handsraised-499a2.firebaseapp.com",
    databaseURL: "https://handsraised-499a2.firebaseio.com",
    projectId: "handsraised-499a2",
    storageBucket: "",
    messagingSenderId: "591316765517"
  };
  firebase.initializeApp(config);
</script>
	</body>
</html>