<html>
	<head>
	<!--<meta http-equiv="refresh" content="10" />-->
	<title>
	Session
	</title>
	</head>
	<body>
	<script>
	
	</script>
	<h1>Session <div name="session_name"></div></h1><br><br><br>
	<div name="students">
		<table name="student_table">
		<% for(var i = 0; i<raised.length; i++) {%>
		<tr><td name="student_number"><%= i+1%></td><td name="student_name"><%= raised[i].student_name %></td><td><button type="submit" name="<%= i%>">Answer</button></td></tr>
		<% } %>
		</table
	</div>
	</body>
</html>